<div class="form-page-container">
  <h1>Авторизация</h1>
  <form class="form" *ngIf="form" [formGroup]="form" (submit)="login()">
    <div class="row">
      <label class="form-label">
        <input
          [class.form-control_error]="form.get('email')?.invalid && form.get('email')?.touched"
          type="email"
          class="form-control"
          placeholder="Email"
          formControlName="email">
        <span class="validation" *ngIf="form.get('email')?.invalid">
          <span class="form-error" *ngIf="form.get('email')?.touched && form.get('email')?.errors?.required">Поле обязательно</span>
          <span class="form-error" *ngIf="form.get('email')?.touched && form.get('email')?.errors?.email">Укажите корректный email</span>
        </span>
      </label>
    </div>
    <div class="row">
      <label class="form-label">
        <input
          [class.form-control_error]="form.get('password')?.invalid && form.get('password')?.touched"
          type="password"
          class="form-control"
          placeholder="Пароль"
          formControlName="password">
        <span class="validation" *ngIf="form.get('password')?.invalid">
          <span class="form-error" *ngIf="form.get('password')?.touched && form.get('password')?.errors?.required">Поле обязательно</span>
          <span class="form-error" *ngIf="form.get('password')?.touched && form.get('password')?.errors?.minlength">Пароль должен содержать не менее 4 символов</span>
          <span class="form-error" *ngIf="form.get('password')?.touched && form.get('password')?.errors?.maxlength">Пароль должен содержать не более 20 символов</span>
        </span>
      </label>
    </div>
    <p>
      <a [routerLink]="['signup']" class="signup">Зарегистрироваться</a>
    </p>
    <p>
      <a [routerLink]="['forgot']" class="forgot">Забыли пароль?</a>
    </p>
    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Войти</button>
  </form>
  <app-auth-status></app-auth-status>
</div>
